.mybutton
{
  margin-top: 6%;
  margin-bottom: 21%;
  width: 100%;
  background-color: #061d48;
  border-radius: 2px

}

.mytextbox
{
    height: 40px;
    widows: 70px;
}

.mytextboxes
{
  align-items: center;
  align-content: center;
}

.myDiv9lg
{
    /* border: 1px solid black; */
     margin-left: 430px;
}

mat-form-field {
   display: inline; 
   font-weight: bold;
 
}

.myLoadbtn{
  width: 80%; 
  margin-bottom: 30px;
  text-align: center;
  color: black;

}

.mySubmitButtons
{
   width: 80%;
    margin-top: -31px;
    color: black
}
/* 
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: white;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color:white;
}

.mat-radio-outer-circle {
  border-color: white;
  color: white;
} */


/** No CSS for this example */

/* .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: white;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: white;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color:white;
} */


/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
   float: left;
   /* overflow-x: hidden;  Disable horizontal scroll */
    padding-top: 20px;
    background: #061d48;
    color: white
  }
  
  /* The navigation menu links */
  .sidenav a {
    /* padding: 6px 8px 6px 16px; */
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  
  .usernameStyle
  {
    text-shadow: 1px 1px 1px black, 0 0 5px white, 0 0 25px white;
    color: white;
  }

  .radioButtonGroup
  {
    background: white;
    color: black;
    padding: 16px;
    border-radius: 20px;
  }

  .bg { 
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }