.matLable{
    margin-left: 14%;
    margin-top: 15px;
}

/* .manBack {
    background:url(./src/assets/img/manhattanBack.png) no-repeat !important;
    /*background: 'url(./src/assets/img/Bus1.jpg)'
    padding-top:100px;
    background-size:cover;  
  } */