
<div style="height: 150px;width: 500px;text-align: center">
  <h2 matDialogTitle>QC created SuccessFully</h2>
  <mat-dialog-content>
    
  </mat-dialog-content>
  <mat-dialog-actions>
    <!--
      Note that you can pass in anything to the `matDialogClose` attribute. This also includes objects, arrays, etc.
      Just make sure that you make it a property binding with those [] brackets
      Example: <button mat-button [matDialogClose]="{'lol': true}">Cancel</button>
    -->
    <button style="margin-left: 200px; font-weight: bolder" mat-button matDialogClose="cancel" color="primary">Ok</button>
    <!-- <button mat-button matDialogClose="confirm" color="warn">Unregister</button> -->
  </mat-dialog-actions>
</div>
